absl-py==2.1.0
beautifulsoup4==4.12.3
cachetools==5.3.3
certifi==2024.2.2
charset-normalizer==3.3.2
datacommons==1.4.3
google==3.0.0
google-api-core==2.18.0
google-auth==2.29.0
google-cloud==0.34.0
google-cloud-core==2.4.1
google-cloud-datastore==2.19.0
google-cloud-vision==3.7.2
googleapis-common-protos==1.63.0
grpcio==1.62.1
grpcio-status==1.62.1
idna==3.6
joblib==1.4.2
numpy==2.0.0
pandas==2.2.2
proto-plus==1.23.0
protobuf==4.25.3
pyasn1==0.6.0
pyasn1_modules==0.4.0
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.31.0
rsa==4.9
scikit-learn==1.5.1
scipy==1.14.0
six==1.16.0
soupsieve==2.5
threadpoolctl==3.5.0
tzdata==2024.1
urllib3==2.2.1
